@CHARSET "UTF-8";

body
{
}

/*#productdetail{*/
    /*height: 480px;*/
/*}*/

.leftimage
{
    float: left;
    text-align: center;
    width:600px;
    height:390px;
    /*border-bottom-style: solid;*/
    border-bottom: 2px solid #000;
}

.leftimage img
{
    width: 380px;
    height: 380px;
}

.rightspec
{
    float: left;
    padding-top:15px;
    width:180px;
    border-left: 1px solid #ededed;
    height: 390px;
    margin-left: 3px;
}

.rightspec ul
{
    padding:20px;
    list-style: none;
}

.rightspec li
{
    text-align: left;
    height: 40px;
    padding:0px;
    margin:0px;
    width: 180px;
}

.spantitle
{
    width:85px;
    display: inline-block;
}

.font20
{
    font-size: 20px;
    font-weight: bold;
}
.font16
{
    font-size: 16px;
    color: #767676;
}
.font14
{
    font-size: 14px;
    color: #767676;
}

.font28
{
    font-size: 28px;
    color: #000;
    font-weight:bold;
    line-height: 35px;
}

.font25
{
    font-size: 20px;
    color: #767676;
    font-weight:bold;
    line-height: 35px;
}
.decorationline
{
    text-decoration: line-through;
}



/*product 介绍样式*/
p {
    color: #333;
    font-size: 14px;
    line-height: 25px;
    text-indent: 28px;
    margin-top: 10px;
}

h4 {
    margin:10px 0;
    font-size: 15px;
    font-weight:bold;

}
.content{
    float:left;
    border-top: 1px solid #ededed;

}